body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.seminar-overview {
    padding: 1em;
    background-color: #fff;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.seminar-overview p {
    margin: 10px 10;
    color: #000000;
    text-align: justify;
}

.register-link {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.register-link:hover {
    background-color: #0056b3;
}

.seminar-schedule {
    padding: 1em;
    background-color: #fff;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seminar {
    background-color: #e9ecef;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}



.seminar h3 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}